[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
opencv-python = "*"
mediapipe = "*"

[dev-packages]

[requires]
python_version = "3.12"
